
.order-create{
    max-width: 500px;
    text-align: center;
}
.order-create-buttons {
    display: flex;
    height: 200px;
    justify-content: space-between;
}
.order-create-header{
    padding: 55px 20px;
    background: #93628F;
    color: #F3E7D7;
    font-family: 'Parisienne', cursive;
    font-size: 55px;
}
.order-create-buttons .choose-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    justify-content: center;
    color: #6E6B69;
    width: 50%;
    height: 100px;
    border-radius: 0 0 15px 15px;
    background: #F3DECD;
    transition: 0.5s;
    cursor: pointer;
}
.order-create-buttons .edit {
    background: #F3E7D7;
}
.order-create-buttons .choose-btn:focus {
    outline: none;
    background: #CDBBAD;
    color:#323130;
}
.order-create-buttons .choose-btn span {
    font-size: 50px;
}