.category-list-title{
    font-family: 'Parisienne', cursive;
    font-size: 45px;
    color: #F6DCCD;
}
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #93628F;
    max-width: 800px;
}
.category-list{
    padding: 15px;
    display: grid;
    margin: 25px 0;
    max-width: 90%;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}